@import '../variables.scss';

.imageFigure {
    position: absolute;
    width: 532px;
    height: 444px;
    margin: 0;
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    transform-origin: 0 50% 0;
    transform-style: preserve-3d;
    transition: transform .5s ease-in-out, left .5s ease-in-out,top .5s ease-in-out;
    
    img {
        width: 512px;
    }

    figcaption {
        text-align: center;

        .imageTitle {
            color: #a7a0a2;
            margin: 7px 0 0 0;
        }

        .imageBackground {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            padding: 50px 40px;

            color: #a7a0a2;
            font-size: 22px;
            line-height: 1.25;
            text-align: center;
            background-color: #fff;

            box-sizing: border-box;
            transform: rotateY(180deg) translateZ(1px);
            backface-visibility: hidden;

            p {
                margin: 0;
            }
        }
    }
}
