@import '../variables.scss';

@font-face {
  font-family: 'icons-turn-arrow';
  src: url('../../public/turn-arrow.woff') format('woff');
}

.controllerUnit {
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;
    background-color: #aaa;
    border-radius: 50%;
    transform: scale(.5);

    transition:transform .5s ease-in-out, background-color .5s;

    &.isCenter {
        transform: scale(1);
        background-color: #888;

        &::after {
            color: #fff;
            font-family: 'icons-turn-arrow';
            content: "\e600";
            line-height: 30px;
            font-size: 80%;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        &.isOpposite {
            background-color: #555;
            transform: rotateY(180deg);
        }
    }
}